<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
   <appSettings>
      <!-- add key="DSCOLL_PATHDIR" value="C:\Users\user01\AppData\Local\Temp\" / -->
      <add key="DSCOLL_PATHDIR" value="D:\TEMP\SQLite\DSCOLL_PATHDIR\" />
      <!-- add key="TEMP_PATHDIR" value="C:\Users\user01\AppData\Local\Temp\" / -->
      <add key="TEMP_PATHDIR" value="D:\TEMP\SQLite\TEMP_PATHDIR\" />
   </appSettings>
</configuration>